menu = """
Depositar[D]
Extrato[E]
Sacar[S]
"""
Limite_saque = 500
valor = 0
saque = 0
maximo_saque = 3
para_sacar = 0
deposito_positivo = 0
while True:
    print()
    print("ESCOLHA UMA OPÇÃO")
    inf = input(menu)
    print()

    if inf == "D" or inf == "d":
        deposito = input("INSIRA O VALOR PARA DEPOSITO: ")
        
        if  deposito.isdigit():
            deposito_positivo = float(deposito)
            if deposito_positivo == 0:
                print("INFORME UM VALOR VALIDO!")
            else:
                valor += deposito_positivo
                print("DEPOSITO REALIZADO COM SUCESSO! OBRIGADO.")
        else:
            print("INSIRA UM VALOR VALIDO")
    elif inf == "E" or inf == "e":
        print("              EXTRATO BANCARIO")
        print("="*39)
        print(f"VALOR DO ULTIMO DEPOSITO: R${deposito_positivo:.2f}")
        print(f"VALOR DO ULTÍMO SAQUE: {saque:.2f}")
        print("="*39)
        print(f"SALDO EM CONTA: {valor:.2f}")
        print("="*39)
    elif inf == "S" or inf == "s":
        para_sacar += 1

        if para_sacar > maximo_saque:
            print("LIMITE MAXIMO DE SAQUE DIARIO ATINGIDO, VOLTE AMANHÃ.")
        else:
            print("INSIRA O VALOR PARA SAQUE")
            saque = float(input())
            if saque > Limite_saque:
                print(f"VALOR MAXIMO PARA SAQUE É R${Limite_saque}")
            else:
                valor -= saque
                print("SAQUE REALIZADO COM SUCESSO!")
    else:
        print("ESCOLHA UMA DAS OPÇÕES!")
#Instruções: Ctrl + c (para travar o programa) ou criar uma condição para pará-lo.
#CONTINUAR...
